body {
    font-family: Arial, sans-serif;
  }
  
  .titulo-tabela {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  div {
    display: flex;
    justify-content: center;
  }
  table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
    text-align: left;
    padding: 8px;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  