body {
    font-family: Arial, sans-serif;
  }
  
  .titulo-tabela {
    text-align: center;
    color: #444;
    margin-bottom: 1.5rem;
    font-size: 24px;
  }
  
  div {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
    text-align: left;
    padding: 0.5rem;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 0.5rem;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }

  .grafico{ 
    margin: auto;
    width: 80%; 
    height: 15rem;
  }


  @media screen and (max-width: 600px) {
    table {
      width: 100%;
    }
  
    th,
    td {
      display: block;
      text-align: center;
    }
  
    th {
      text-align: center;
    }
  }